<div class="menu">
    <div class="option-holder">
         <div class="option">
             <a href="./home"><img class="option-svg" alt="home-button" src="../images/home.svg"></a>
         </div>
         <div class="option">
             <a href="./reports"><img class="option-svg" alt="reports-button" src="../images/reports.svg"></a>
         </div>
         <div class="option">
             <img class="option-svg" alt="option-button" src="../images/info.svg">
         </div>
    </div> 
 </div>